@{
    ViewData["Title"] = "Home Page";
}
@model List<MenuModel>

<div class="text-center">
    <h1 class="display-4">Elenco</h1>
    <p>Sono stati trasferiti @Model.Count elementi.</p>
</div>

<ol>
    @foreach (var item in Model)
    {
        <li><span>@item.Nome</span> <span>(€ @item.Prezzo.ToString("F2"))</span></li>
    }
</ol>
